</main>

<footer>

  
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social_icon">
      <li><a href="https://www.facebook.com/ariel.vallejos.1804" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
      <li><a href="https://twitter.com/ArielitoVallejo" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
      <li><a href="https://www.linkedin.com/in/carlos-ariel-vallejos-caballero-106174287/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
      <li><a href="https://www.instagram.com/ariel_vallejos19/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
    
  
    <p class="copyright"> Made with ❤️ in Asunción.</p>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">

  </script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">

  </script>
  <p id="copyright" class="copy">Copyright © 200X</p>
  <script>
    // Get the current year
    var currentYear = new Date().getFullYear();

    // Update the copyright text with the current year
    document.getElementById("copyright").innerText = "Copyright © " + currentYear;
  </script>
  
</footer>

</body>


</html>